
<section class="user-posts-container flex">
  <%= render 'partials/user', user: @user %>
  <% @user_posts.each do |post| %>
    <%= render 'partials/post', post: post %>
    <div class="card user-post-comments-container">
      <h4>Comments</h4><br>
      <%= render partial: 'partials/comment', collection: post.latest_comments %>
    </div>
  <% end %>
  <%=link_to 'Create new Post', new_user_post_path(@user.id), class: "btn" %>
</section>